/react-influencer/node_modules/

/react-admin/node_modules

/laravel_admin/.dbdata/
/laravel_admin/storage/
/laravel_admin/vendor/
/laravel_admin/.env

/laravel_influencer/storage/
/laravel_influencer/vendor/
/laravel_influencer/.env
/laravel_influencer/.dbdata/
/microservice/email/vendor/
/microservice/users/.dbdata/
